---
import { type CollectionEntry, render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  note: CollectionEntry<"note">;
  isPreview?: boolean | undefined;
};

const { as: Tag = "div", note, isPreview = false } = Astro.props;
const { Content } = await render(note);

const timeOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "2-digit",
  hour: "2-digit",
  minute: "2-digit",
};
---

<article class="note" data-pagefind-body={isPreview ? false : true}>
  <FormattedDate class="note__time" date={note.data.publishDate} dateTimeOptions={timeOptions} />
  {
    note.data.title && (
      <Tag class="note__title">
        {isPreview ? <a href={`/notes/${note.id}`}>{note.data.title}</a> : note.data.title}
      </Tag>
    )
  }
  <div class="note__body" class:list={{ "note__body--clamp": isPreview }}>
    <Content />
  </div>
</article>
