---
import { type CollectionEntry, render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  note: CollectionEntry<"note">;
  isPreview?: boolean | undefined;
};

const { as: Tag = "div", note, isPreview = false } = Astro.props;
const { Content } = await render(note);
const CardTag = isPreview ? "a" : "div";
const noteUrl = `/notes/${note.id}`;
---

<article data-pagefind-body={isPreview ? false : true}>
  <CardTag
    class:list={[
      isPreview &&
        "group border-foreground/5 grid rounded-md border bg-white/75 px-4 py-3 dark:border-white/5 dark:bg-white/5",
      !isPreview && "contents",
    ]}
    href={isPreview ? noteUrl : undefined}
  >
    <Tag class:list={[isPreview ? "title text-base" : "page-title mb-3"]}>
      <span
        class:list={[
          isPreview && "cactus-link group-hover:decoration-link group-hover:decoration-2",
        ]}
      >
        {note.data.title}
      </span>
    </Tag>
    <FormattedDate
      dateTimeOptions={{
        hour: "2-digit",
        minute: "2-digit",
        year: "2-digit",
        month: "2-digit",
        day: "2-digit",
      }}
      date={note.data.publishDate}
    />
    <div
      class="prose prose-sm prose-cactus sm:prose-base mt-4 max-w-none [&>p:last-of-type]:mb-0"
      class:list={{ "line-clamp-6": isPreview }}
    >
      <Content />
    </div>
  </CardTag>
</article>
