---
import { getCollection } from "astro:content";

import Note from "@/components/note/Note.astro";
import PageLayout from "@/layouts/Base.astro";
import { getNoteRouteSlug } from "@/utils/url";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";

// if you're using an adaptor in SSR mode, getStaticPaths wont work -> https://docs.astro.build/en/guides/routing/#modifying-the-slug-example-for-ssr
export const getStaticPaths = (async () => {
  const allNotes = await getCollection("note");
  return allNotes.map((note) => ({
    params: { slug: getNoteRouteSlug(note) },
    props: { note },
  }));
}) satisfies GetStaticPaths;

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { note } = Astro.props;

const meta = {
  description:
    note.data.description ||
    `Read about my note posted on: ${note.data.publishDate.toLocaleDateString()}`,
  title: note.data.title,
};
---

<PageLayout meta={meta}>
  <section class="page-section pt-0 pb-4 sm:pb-12">
    <div class="content-shell">
      <Note as="h1" note={note} />
    </div>
  </section>
</PageLayout>
