---
import { siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer class="flex min-h-15 flex-col">
  <div class="page-shell py-10 text-gray-600 sm:flex-col dark:text-gray-400">
    <div class="me-0 sm:me-4">
      &copy; {siteConfig.author}
      {year}. The source code is available on <a
        href="https://github.com/xdanger/xdanger-com"
        class="border-b">GitHub</a
      >.
    </div>
  </div>
</footer>
