---
import { siteConfig } from "@/site.config";
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="shell">
    <div class="site-footer__inner">
      <span>&copy; {siteConfig.author} {year}</span>
      <a href="https://github.com/xdanger/xdanger-com" rel="noreferrer">
        <Icon name="mdi:github" aria-hidden="true" focusable="false" /> source on GitHub
      </a>
    </div>
  </div>
</footer>
