---
import AboutMe from "@/components/AboutMe.astro";
import PageLayout from "@/layouts/Base.astro";
import { siteConfig } from "@/site.config";
---

<PageLayout meta={{ title: "Home" }}>
  <h1 class="sr-only">{siteConfig.author}</h1>
  <section class="pt-0 pb-5 sm:pb-6">
    <div class="page-shell">
      <AboutMe />
    </div>
  </section>
</PageLayout>
