---
import SocialList from "@/components/SocialList.astro";
import { Icon } from "astro-icon/components";
---

<ul class="iam">
  <li>
    <span class="glyph"><Icon name="solar:chef-hat-heart-line-duotone" aria-hidden="true" /></span>
    <span>a father</span>
  </li>
  <li>
    <span class="glyph"><Icon name="solar:code-bold-duotone" aria-hidden="true" /></span>
    <span>like coding</span>
  </li>
  <li>
    <span class="glyph"><Icon name="solar:gamepad-line-duotone" aria-hidden="true" /></span>
    <span
      >presently ceo of <a href="https://www.taptap.com/">TapTap</a>, co-founder of <a
        href="https://www.xd.com/">XD Inc</a
      ></span
    >
  </li>
  <li>
    <span class="glyph"
      ><Icon name="solar:turntable-music-note-line-duotone" aria-hidden="true" /></span
    >
    <span>previously co-founder of <a href="https://www.verycd.com/">VeryCD</a></span>
  </li>
  <li>
    <span class="glyph" aria-hidden="true">@</span>
    <span>find <span class="handle">xdanger</span> on <SocialList /></span>
  </li>
</ul>
