---
import type { PaginationLink } from "@/types";

interface Props {
  nextUrl?: PaginationLink;
  prevUrl?: PaginationLink;
}

const { nextUrl, prevUrl } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <nav class="paginator" aria-label="Pagination">
      {prevUrl && (
        <a class="paginator__prev" data-astro-prefetch href={prevUrl.url}>
          {prevUrl.srLabel && <span class="sr-only">{prevUrl.srLabel}</span>}←{" "}
          {prevUrl.text ?? "Newer"}
        </a>
      )}
      {nextUrl && (
        <a class="paginator__next" data-astro-prefetch href={nextUrl.url}>
          {nextUrl.srLabel && <span class="sr-only">{nextUrl.srLabel}</span>}
          {nextUrl.text ?? "Older"} →
        </a>
      )}
    </nav>
  )
}
