---
import { Icon } from "astro-icon/components";

const socialLinks: { friendlyName: string; link: string; icon: string }[] = [
  { friendlyName: "X", link: "https://x.com/xdanger", icon: "fa6-brands:square-x-twitter" },
  { friendlyName: "GitHub", link: "https://github.com/xdanger", icon: "mdi:github" },
  { friendlyName: "Instagram", link: "https://www.instagram.com/xdanger", icon: "mdi:instagram" },
];
---

<span class="socials">
  {
    socialLinks.map(({ friendlyName, link, icon }) => (
      <a href={link} rel="noreferrer me" target="_blank" aria-label={friendlyName}>
        <Icon name={icon} aria-hidden="true" focusable="false" />
      </a>
    ))
  }
</span>
