---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import { getPostPath } from "@/utils/url";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  post: CollectionEntry<"post">;
};

const { as: Tag = "h3", post } = Astro.props;
const postUrl = getPostPath(post);
const subtitle = post.data.subtitle?.trim();
---

<article class="flex flex-wrap items-baseline gap-x-4 gap-y-2 py-5">
  <Tag class="heading order-1 leading-tight text-pretty">
    {post.data.draft && <span class="text-red-500">(Draft) </span>}
    <a
      class="text-accent-2 focus-visible:text-accent focus-visible:outline-accent rounded-sm transition-colors focus-visible:outline-2 focus-visible:outline-offset-2"
      data-astro-prefetch
      href={postUrl}
    >
      {post.data.title}
    </a>
  </Tag>
  <span
    aria-hidden="true"
    class="border-foreground/5 order-2 hidden min-w-6 flex-1 self-center border-t sm:block dark:border-white/5"
  ></span>
  <FormattedDate class="date text-muted order-3 shrink-0" date={post.data.publishDate} />
  {
    subtitle && (
      <p class="font-plex-sans text-muted order-2 w-full text-sm leading-snug sm:order-4">
        {subtitle}
      </p>
    )
  }
</article>
